<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/swiper-3.4.0.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_tazxp6e5stznnrk9.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="xc-app" class="xc-app" v-cloak>
			<header class="am-header xc-header xc-header-opacity">
				<span class="am-header-title">
					寻城
				</span>
			</header>
			
			<!-- banner -->
			<div class="xc-banner" id="home-banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="banner in bannerList">
							<a :href="banner.blink">
								<img class="swiper-lazy" src="images/bg/home-bg.jpg" :data-src="banner.img"  />
							</a>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			
			<!-- 内容数据 -->
			<div class="am-g xc-g">
				<div class="xc-home-product">
					<ul>
						<li v-for="data in indexList">
							<a :href="ilink">
								<div class="xc-home-product-tip">
									<span :class="['xc-'+ data.type]">{{data.itype}}</span>
								</div>
								<img class="lazy am-img-responsive" src="images/bg/home-bg.jpg"  :data-original="data.ipic" />

								<div class="xc-home-product-content" v-if="data.type == 'goods'">
									<p class="title">
										{{data.title}}
									</p>
									<p class="merchant">
										{{data.merchant}}
										<span class="am-padding-left-xs">特供</span>
									</p>
									<p class="price">
										<span class="xc-price">¥</span>
										<span class="price-txt">{{data.price}}</span>
									</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- 此元素放在底部 -->
			<div id="xc-footer-lazy" class="xc-footer-spin">
				<span class="am-icon-spinner am-icon-spin"></span> 正在加载中...
			</div>

			<footer class="xc-footer xc-bt">
				<div class="am-navbar am-cf">
					<ul class="am-navbar-nav am-cf">
						<li>
							<a href="index.html" class="am-active">
								<span class="iconfont icon-shouye"></span>
								<span class="am-navbar-label">首页</span>
							</a>
						</li>
						<li>
							<a href="lvyou/index.html">
								<span class="iconfont icon-zhiyin"></span>
								<span class="am-navbar-label">旅游</span>
							</a>
						</li>
						<li>
							<a href="goods/index.html">
								<span class="iconfont icon-shangcheng"></span>
								<span class="am-navbar-label">商城</span>
							</a>
						</li>
						<li>
							<a href="faxian/index.html">
								<span class="iconfont icon-faxian"></span>
								<span class="am-navbar-label">发现</span>
							</a>
						</li>
						<li>
							<a href="user/index.html">
								<span class="iconfont icon-wode"></span>
								<span class="am-navbar-label">我的</span>
							</a>
						</li>
					</ul>
				</div>
			</footer>
		</div>

		<script src="assets/js/vue.min.js"></script>
		<script src="assets/js/fastclick.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/amazeui.min.js"></script>
		<script src="assets/js/amazeui.lazyload.min.js"></script>
		<script src="assets/js/swiper-3.4.0.jquery.min.js"></script>
		<script src="js/xuncheng.js"></script>
		<script type="text/javascript">
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					bannerList: [],
					indexList: []
				}
			});
			
			$(function() {
				/* TODO 获取 Banner 数据 */
				$.getJSON('http://m.xunchengweidao.com/mbl', function(data) {
					if(data.resultCode != 10000){
						$.DialogFx.alert(data.showMessage || '广告数据请求失败')
						return false;
					}
					vueModel.bannerList = data.bannerList;
					vueModel.$nextTick(function() {
						new Swiper('#home-banner>.swiper-container', {
							pagination: '.swiper-pagination',
							paginationClickable: true,
							lazyLoading : true,
							lazyLoadingInPrevNext : true,
							lazyLoadingInPrevNextAmount : 2
						});
					})
				}).fail(function(){
					$.DialogFx.alert('服务器内部错误')
				})

				var $footerLazy = $('#xc-footer-lazy');
				lazyProduct(function() { // 初始加载一次数据，然后监控滚动加载事件
					$footerLazy.on('lazy.open', function() {
						lazyProduct(function() {
							$footerLazy.trigger('lazy.end')
						});
					});
				});
			});

			function lazyProduct(fn) {
				/* TODO 获取 产品 数据 */
				$.getJSON('http://m.xunchengweidao.com/mil', function(data) {
					if(data.resultCode != 10000){
						$.DialogFx.alert(data.showMessage || '首页内容请求失败')
						return false;
					}
					if(data.indexList.length){
						data.indexList.forEach(function(item) {
							vueModel.indexList.push(item)
						})
						vueModel.$nextTick(function(){
							$('img.lazy').lazyload();
						})
						if($.isFunction(fn)) {
							fn()
						}
					}else{
						$('#xc-footer-lazy').html('没有数据了')
					}
				}).fail(function() {
					$.DialogFx.alert('服务器内部错误')
				})
			}
			
		</script>
	</body>

</html>