// 配置工具
@import "./util.less";
@import "./ripple.less"; // 组件
@import "./header.less";
@import "./banner.less";
@import "./footer.less";
@import "./dialog.less";
@import "./comment.less";
@import "./video.less";

.@{xc}app {
    &.@{xc}header-fixed {
        padding-top: @header-height;
    }
    padding-bottom: @footer-height;
}
.@{xc}back-top {
    position: fixed;
    z-index: 1000;
    bottom: @footer-height+15;
    right: 15px;
    color: @c-txt;
    background-color: @c-bg-l;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    i {
        font-size: 22px;
    }
}
// 底部加载更多
.@{xc}footer-spin {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: @c-input;
}

.@{xc}text-weight-bold {
    font-weight: bold;
}

// ¥ 符号样式
.@{xc}price {
    font-size: 1.9rem;
}
// 首页产品布局
.@{xc}home-product {
    ul {
        li {
            position: relative;
            padding-top: 2px;
            max-height: 210px;
            overflow-y: hidden;
            .@{xc}home-product-tip {
                // 商品 提示
                position: absolute;
                top: 0;
                left: 10px;
                padding: 6.5px 7px;
                text-align: center;
                background-color: #FFFFFF;
                box-shadow: rgba(0, 0, 0, 0.156863) 0 1px 3px;
                border-radius: 0 0 5px 5px;
                span {
                    width: 7rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    display: inline-block;
                    font-weight: 900;
                    &.@{xc}goods {
                        color: @c-h-red;
                        border-left: 3px solid @c-h-red;
                    }
                    &.@{xc}faxian {
                        color: @c-h-green;
                        border-left: 3px solid @c-h-green;
                    }
                    &.@{xc}lvyou {
                        color: @c-h-blur;
                        border-left: 3px solid @c-h-blur;
                    }
                }
            }
            .@{xc}home-product-content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 10px;
                width: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.13) 100%);
                p {
                    color: #FFFFFF;
                    margin: 0;
                }
                .title {
                    font-size: 2.2rem;
                }
                .merchant {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
                .price {
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    .price-txt {
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
}
// 旅游产品布局
.@{xc}lvyou-product {
    ul {
        margin-top: 10px;
        li {
            background-color: @c-bg-l;
            position: relative;
            margin: 10px 0;
            padding: 10px;
            .xc-lvyou-img {
                max-height: 150px;
                overflow-y: hidden;
                img {
                    border-radius: 5px;
                }
            }
            .@{xc}lvyou-product-content {
                margin-top: 10px;
                width: 100%;
                p {
                    padding: 0 10px;
                    color: @txt-color;
                    margin: 0;
                }
                .title {
                    font-size: 1.6rem;
                }
                .classify {
                    font-size: 1.4rem;
                    color: @c-input;
                }
                .price {
                    position: absolute;
                    color: @price-colo;
                    bottom: 0;
                    right: 10px;
                    .price-txt {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}
// 商城商品布局
.@{xc}shangcheng-product {
    &>div {
        float: left !important;
        padding: 0;
        &:nth-child(odd) {
            padding-right: 1.5px;
        }
        &:nth-child(even) {
            padding-left: 1.5px;
        }
        margin-top: 3px;
        background-color: @c-bg;
        .@{xc}lvyou-product-content {
            background-color: @c-bg-l;
            text-align: center;
            padding-top: 10px;
            width: 100%;
            p {
                color: @txt-color;
                margin: 0;
            }
            .title {
                font-size: 1.4rem;
                max-width: 150px;
                margin: 0 auto;
            }
            .classify {
                font-size: 1.4rem;
            }
            .price {
                font-weight: bold;
                color: @price-colo;
                .@{xc}price {
                    font-size: 1.2rem;
                }
                .price-txt {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
// TODO 商城商品 flex 布局, 标题可跨行
.@{xc}shangcheng-product {
    ul.xc-flex {
        margin-top: 3px;
        display: flex;
        flex-wrap: wrap;
        &>li {
            background-color: @c-bg-l;
            &:nth-child(odd) {
                margin-right: 1.5px;
            }
            &:nth-child(even) {
                margin-left: 1.5px;
            }
            flex: 1;
            flex-basis: 0;
            .@{xc}lvyou-product-content {
                text-align: center;
                padding-top: 10px;
                width: 100%;
                p {
                    color: @txt-color;
                    margin: 0;
                }
                .title {
                    font-size: 1.4rem;
                }
                .classify {
                    font-size: 1.4rem;
                }
                .price {
                    color: @price-colo;
                    .@{xc}price {
                        font-size: 1.2rem;
                    }
                    .price-txt {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}
// 发现产品布局
.@{xc}faxian-product {
    padding-top: 1px;
    ul {
        li {
            padding: 10px 10px 0;
        }
    }
}
// 用户
.@{xc}user {
    .@{xc}user-header {
        height: 135px;
        position: relative;
        background: url("../images/user/user-header-bg.jpg") center no-repeat;
        background-size: cover;
        .@{xc}user-header-img {
            position: absolute;
            top: 31px;
            left: 37px;
            width: 73px;
            height: 73px;
            line-height: 45px;
            text-align: center;
            border: 6px solid rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            img {
                margin: 0 auto;
                width: 61px;
            }
        }
        .@{xc}user-header-btn {
            position: absolute;
            width: 87px;
            height: 29px;
            top: 53px;
            left: 125px;
            border: @hr;
            border-radius: 8px;
            color: @c-bg-l;
            text-align: center;
            .am-btn {
                background-color: transparent;
                padding: 0;
                font-size: 14px;
            }
        }
    }
}
// 功能列表
.@{xc}list-box {
    margin-top: 10px;
    .am-list {
        margin-bottom: 0;
        li {
            a {
                color: @c-txt;
                padding: 0 0 0 35px;
                height: 48px;
                line-height: 48px;
                max-width: 280px;
                word-wrap: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &.no-icon {
                    padding-left: 10px;
                }
                i {
                    position: absolute;
                    font-size: 22px;
                    width: 22px;
                    &.xc-list-icon-left {
                        left: 10px;
                    }
                    &.xc-list-icon-right {
                        right: 10px;
                        color: @c-hr;
                    }
                }
                img {
                    position: absolute;
                    font-size: 20px;
                    width: 22px;
                    height: 22px;
                    top: 13px;
                    &.xc-list-icon-left {
                        left: 10px;
                    }
                    &.xc-list-icon-right {
                        right: 10px;
                        color: @c-hr;
                    }
                }
                .price {
                    position: absolute;
                    top: 0;
                    right: 40px;
                    color: @price-colo;
                    font-size: 1.6rem;
                    .@{xc}price {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .xc-list-br {
        height: 10px;
        background-color: transparent;
    }
}

// 内容
.@{xc}item-goods {
    background-color: @c-bg-l;
    border-bottom: @hr;
    padding: 12px 10px 10px 10px;
    margin-bottom: 10px;
    .@{xc}item-title{
        color: @txt-color;
        font-size: 1.6rem;
    }
    .price {
        color: @price-colo;
        .@{xc}price {
            font-size: 1.5rem;
        }
        .price-txt {
            font-size: 2.4rem;
        }
    }
}

.@{xc}cart-list {
    @xclh: 108px;
    border-bottom: @hr;
    li {
        width: 100%;
        padding-left: 0;
        display: flex;
        height: @xclh;
        .@{xc}cart-left, .@{xc}cart-right {
            height: @xclh;
        }
        .@{xc}cart-left {
            line-height: @xclh;
            width: 42px;
            padding: 0 12px 0 10px;
            img {
                display: inline-block;
                width: 20px;
                height: 20px;
            }
        }
        .@{xc}cart-right {
            flex: 1;
            border-bottom: @hr;
            position: relative;
            &>.@{xc}cart-right-info {
                display: flex;
                height: @xclh;
                img {
                    margin: 19px 12px 0 0;
                    width: 70px;
                    height: 70px;
                }
                &>div {
                    position: relative;
                    margin: 19px 0 21px;
                    width: 100%;
                    height: @xclh - 40px;
                    .title{
                        max-width: 80%;
                        font-size: 1.4rem;
                        color: @c-txt;
                    }
                    .price {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-weight: 600;
                        color: @price-colo;
                        .@{xc}price {
                            font-size: 1.2rem;
                        }
                        .price-txt {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
            &>.@{xc}cart-edit {
                position: absolute;
                right: 10px;
                bottom: 19px;
                width: 96px;
                height: 28px;
                .xc-cart-edit-left, .xc-cart-edit-input, .xc-cart-edit-right {
                    height: 100%;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 28px;
                    line-height: 32px;
                }
                .xc-cart-edit-left {
                    border: @hr;
                    border-radius: 5px 0 0 5px;
                }
                .xc-cart-edit-input {
                    width: 40px;
                    left: 28px;
                    border: 0;
                    padding: 0;
                    font-size: 1rem;
                    border-top: @hr;
                    border-bottom: @hr;
                }
                .xc-cart-edit-right {
                    left: 68px;
                    border: @hr;
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
    li:last-child{
        .@{xc}cart-right {
            border: 0;
        }
    }
}

// 登录
.@{xc}login{
    margin-top: 104px;
    text-align: center;
    .title {
        font-size: 18px;   
        height: 24px;
        color: @c-txt; 
        position: relative;
        display: inline-block;
        
        &:before, &:after{
            content: " ";
            position: absolute;
            width: 70px;
            top: 13px;
            border-top: @hr;
            border-width: 1px;
        }
        &:before {
            left: -82px;
        }
        &:after {
            right: -82px;
        }
    }
    .@{xc}third-party{
        margin-top: 50%;
        img {
            width: 49px;
            margin-right: 48px;
        }
        img:last-child {
            margin-right: 0;
        }
    }
}

// 发现产品详情页
.@{xc}faxian-item {
    background: @c-bg-l;
    border-bottom: @hr;
    margin-top: 10px;
    
    .@{xc}faxian-item-user {
        position: relative;
        height: 50px;
        line-height: 50px;
        margin: 0 10px;
        img {
            position: absolute;
            top: -31px;
            left: 0;
            width: 63px;
            height: 63px;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px, rgba(0, 0, 0, 0.23) 0px 1px 0px;;
        }
        .title {
            display: inline-block;
            width: 100%;
            padding-left: 85px;
            font-size: 1.7rem;
        }
        .time {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.6rem;
            color: @c-input;
        }
    }
    .@{xc}faxian-item-info {
        margin: 20px;
        .title {
            display: inline;
            padding-bottom: 5px;
            font-size: 1.8rem;
            color: @c-h-yellow;
            border-bottom: @hr;
            border-color: @c-h-yellow;
        }
        .content {
            text-indent: 2rem;
            font-size: 1.7rem;
            line-height: 2.8rem;
            margin: 10px 0;
        }
    }
}


