// 配置工具
@import "./util.less";
@import "./ripple.less";
// 组件
@import "./header.less";
@import "./banner.less";
@import "./footer.less";
@import "./dialog.less";
.@{xc}app {
    &.@{xc}header-fixed {
        padding-top: @header-height;
    }
    padding-bottom: @footer-height;
}
.@{xc}back-top {
    position: fixed;
    z-index: 1000;
    bottom: @footer-height+15;
    right: 15px;
    color: @c-txt;
    background-color: @c-bg-l;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid @c-hr;
    i {
        font-size: 22px;
    }
}
// 底部加载更多
.@{xc}footer-spin {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: @c-input;
}
// ¥ 符号样式
.@{xc}price {
    font-size: 1.9rem;
}
// 首页产品布局
.@{xc}home-product {
    ul {
        li {
            position: relative;
            padding-top: 2px;
            max-height: 210px;
            overflow-y: hidden;
            .@{xc}home-product-tip {
                // 商品 提示
                position: absolute;
                top: 0;
                left: 10px;
                padding: 6.5px 7px;
                text-align: center;
                background-color: #FFFFFF;
                box-shadow: rgba(0, 0, 0, 0.156863) 0 1px 3px;
                border-radius: 0 0 5px 5px;
                span {
                    width: 7rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    display: inline-block;
                    font-weight: 900;
                    &.@{xc}goods {
                        color: @c-h-red;
                        border-left: 3px solid @c-h-red;
                    }
                    &.@{xc}gba {
                        color: @c-h-green;
                        border-left: 3px solid @c-h-green;
                    }
                    &.@{xc}line {
                        color: @c-h-blur;
                        border-left: 3px solid @c-h-blur;
                    }
                }
            }
            .@{xc}home-product-content {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 10px;
                width: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.13) 100%);
                p {
                    color: #FFFFFF;
                    margin: 0;
                }
                .title {
                    font-size: 2.2rem;
                }
                .merchant {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
                .price {
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    .price-txt {
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
}
// 旅游产品布局
.@{xc}lvyou-product {
    ul {
        margin-top: 10px;
        li {
            background-color: @c-bg-l;
            position: relative;
            margin: 10px 0;
            padding: 10px;
            .xc-lvyou-img{
                max-height: 150px;
                overflow-y: hidden;
                img{
                    border-radius: 5px;
                }
            }
            .@{xc}lvyou-product-content {
                margin-top: 10px;
                width: 100%;
                p {
                    padding: 0 10px;
                    color: @txt-color;
                    margin: 0;
                }
                .title {
                    font-size: 1.6rem;
                }
                .classify {
                    font-size: 1.4rem;
                    color: @c-input;
                }
                .price {
                    position: absolute;
                    color: @price-colo;
                    bottom: 0;
                    right: 10px;
                    .price-txt {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}
// 商城商品布局
.@{xc}shangcheng-product {
    &>div {
        float: left !important;
        padding: 0;
        &:nth-child(odd){
            padding-right: 1.5px;
        }
        &:nth-child(even){
            padding-left: 1.5px;
        }
        margin-top: 3px;
        background-color: @c-bg;
        .@{xc}lvyou-product-content {
            background-color: @c-bg-l;
            text-align: center;
            padding-top: 10px;
            width: 100%;
            p {
                color: @txt-color;
                margin: 0;
            }
            .title {
                font-size: 1.4rem;
                max-width: 150px;
                margin: 0 auto;
            }
            .classify {
                font-size: 1.4rem;
            }
            .price {
                font-weight: 600;
                color: @price-colo;
                .@{xc}price {
                    font-size: 1.2rem;
                }
                .price-txt {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

// TODO 商城商品 flex 布局, 标题可跨行
.@{xc}shangcheng-product {
    ul.xc-flex {
        margin-top: 3px;
        display: flex;
        flex-wrap: wrap;
        &>li{
            background-color: @c-bg-l;
            &:nth-child(odd){
                margin-right: 1.5px;
            }
            &:nth-child(even){
                margin-left: 1.5px;
            }
            flex: 1;
            flex-basis: 0;
            .@{xc}lvyou-product-content {
                text-align: center;
                padding-top: 10px;
                width: 100%;
                p {
                    color: @txt-color;
                    margin: 0;
                }
                .title {
                    font-size: 1.4rem;
                }
                .classify {
                    font-size: 1.4rem;
                }
                .price {
                    font-weight: 600;
                    color: @price-colo;
                    .@{xc}price {
                        font-size: 1.2rem;
                    }
                    .price-txt {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

// 发现产品布局
.@{xc}faxian-product {
    padding-top: 1px;
    ul {
        li {
            padding: 10px 10px 0;
        }
    }
}
// 用户   
.@{xc}user {
    .@{xc}user-header {
        height: 135px;
        position: relative;
        background: url("../images/user/user-header-bg.jpg") center no-repeat;
        background-size: cover;
        .@{xc}user-header-img {
            position: absolute;
            top: 31px;
            left: 37px;
            width: 73px;
            height: 73px;
            line-height: 45px;
            text-align: center;
            border: 6px solid rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            img {
                margin: 0 auto;
                width: 61px;
            }
        }
        .@{xc}user-header-btn {
            position: absolute;
            width: 87px;
            height: 29px;
            top: 53px;
            left: 125px;
            border: 1px solid @c-hr;
            border-radius: 8px;
            color: @c-bg-l;
            text-align: center;
            .am-btn {
                background-color: transparent;
                padding: 0;
                font-size: 14px;
            }
        }
    }
}
// 70cbde  e18873  61d87b

// 功能列表
.@{xc}list-box {
    margin-top: 10px;
    .am-list {
        li {
            a {
                color: @c-txt;
                padding: 0 0 0 35px;
                height: 48px;
                line-height: 48px;
                max-width: 280px;
                word-wrap: normal;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &.no-icon{
                    padding-left: 10px;
                }
                i {
                    position: absolute;
                    font-size: 22px;
                    width: 22px;
                    &.xc-list-icon-left {
                        left: 10px;
                    }
                    &.xc-list-icon-right {
                        right: 10px;
                        color: @c-hr;
                    }
                }
                img{
                    position: absolute;
                    font-size: 20px;
                    width: 22px;
                    height: 22px;
                    top: 13px;
                    &.xc-list-icon-left {
                        left: 10px;
                    }
                    &.xc-list-icon-right {
                        right: 10px;
                        color: @c-hr;
                    }
                }
            }
        }
    }
    .xc-list-br {
        height: 10px;
        background-color: transparent;
    }
}