.@{footer} {
    position: fixed;
    z-index: 1001;
    left: 0;right: 0;
    bottom: 0;
    background: @c-bg-l;
    margin: 0 auto;
    width: 100%;
    height: @footer-height;
    border-top: @hr;
    .am-navbar{
        position: static;
        height: 100%;
        line-height: 100%;
        .am-navbar-nav{
            height: 100%;
            line-height: 100%;
            li{
                a{
                    padding-top: 8px;
                    color: @c-txt;
                    &.am-active{
                        color: @bar-active;
                    }
                    &>.iconfont{
                        font-size: 26px;
                    }
                }
            }
        }
    }
    .@{xc}btn {
        width: 100%;
        border: 0;
        height: 100%;
        line-height: @footer-height;
        text-align: center;
        color: @c-bg-l;
        background: @btn-color;
        &[disabled] {
            background: @c-btn-db;
        }
    }
    
    &.@{footer}-comment {
        p {
            text-align: center;
            line-height: @footer-height;
        }
    }
    
    &.@{footer}-goods {
        [class*="am-u-"] {
            height: @footer-height;
            padding: 0;
            text-align: center;
            line-height: @footer-height;
        }
        .@{xc}add-btn, .@{xc}submit-btn {
            color: @c-bg-l;
        }
        .@{xc}add-btn {
            background: @c-btn-add;
        }
        .@{xc}submit-btn {
            background: @btn-color;
        }
    }
    
    &.@{footer}-cart{
        display: flex;
        .@{footer}-cart-left, .@{footer}-cart-right {
            height: 100%;
        }
        .@{footer}-cart-left {
            line-height: @footer-height;
            width: 42px;
            padding: 0 12px 0 10px;
            img {
                display: inline-block;
                width: 20px;
                height: 20px;
            }
        }
        .@{footer}-cart-right {
            flex: 1;
            .price {
                display: inline;
                line-height: @footer-height;
                color: @price-colo;
                font-size: 1.8rem;
                .title {
                    color: @c-txt;
                }
            }
            .@{xc}btn{
                float: right;
                width: 120px;
            }
        }
    }
    
    &.@{footer}-faxian{
        display: flex;
        &>div {
            position: relative;
            flex: 1;
            text-align: center;
            height: 100%;
            line-height: @footer-height;
            font-size: 1.7rem;
            img {
                width: 30px;
            }
            &:last-child{
                &:before {
                    content: " ";
                    position: absolute;
                    top: 16px;
                    left: 0;
                    width: 1px;
                    height: 18px;
                    background: @c-hr;
                }
            }
        }
    }
}