<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/swiper-3.4.0.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_tazxp6e5stznnrk9.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
	</head>

	<body class="xc-bg">
		<div id="xc-app" class="xc-app xc-header-fixed" v-cloak>
			<header class="am-header xc-header">
				<div class="am-header-left am-header-nav">
					<a href="javascript:$.xuncheng.back();">
						<i class="am-header-icon iconfont icon-zuo"></i>
					</a>
				</div>
				<span class="am-header-title">专题详情</span>
				<div class="am-header-right am-header-nav">
					<a href="javascript:;" @click="share">
						<i class="am-header-icon iconfont icon-fenxiang icon-lg"></i>
					</a>
				</div>
			</header>

			<div class="am-g xc-faxian-item am-margin-0">
				<img class="am-img-responsive lazy" data-original="../images/banner-0.jpg" src="../images/bg/home-bg.jpg" />
				<div class="xc-faxian-item-user">
					<img :src="featureDetail.fauthorpic" />
					<span class="title">{{featureDetail.fauthorname}}</span>
					<span class="time">{{featureDetail.fdate}}</span>
				</div>
			</div>
			
			<div class="am-g xc-faxian-item">
				<div class="xc-video-box" id="xc-video-box">
					<div class="xc-video-play">
						<i class="am-icon-play xc-video-play-icon"></i>
						<img class="lazy" src="../images/bg/480.jpg" />
					</div>

					<video class="xc-video" :src="featureDetail.pvideo" controls="controls" loop="loop"></video>
				</div>
				
				<div class="xc-faxian-item-info">
					<p class="title">{{featureDetail.fname}}</p>
					<p class="content">{{featureDetail.fcontent}}</p>
					<img v-for="ftpics in featureDetail.ftpicList" class="am-img-responsive lazy" :data-original="ftpics" src="../images/bg/750.jpg" />
				</div>
			</div>

			<div class="am-g">
				<div class="xc-list-box">
					<ul class="am-list">
						<li class="ta-ripple">
							<a href="javascript:;">
								<img class="xc-list-icon-left" src="../images/icon/icon-goods.png" alt="" />
								<span>精品海鲜大礼包</span>
								<p class="price">
									<span class="xc-price">¥</span>
									<span class="price-txt">
										139.00
									</span>
								</p>
								<i class="iconfont icon-you xc-list-icon-right"></i>
							</a>
						</li>
						<li class="ta-ripple">
							<a href="javascript:;">
								<img class="xc-list-icon-left" src="../images/icon/icon-link.png" alt="" />
								<span>鸭绿江轮船断桥精品赏游</span>
								<p class="price">
									<span class="xc-price">¥</span>
									<span class="price-txt">
										139.00
									</span>
								</p>
								<i class="iconfont icon-you xc-list-icon-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="am-g">

				<p class="am-padding-vertical-xs">用户评论({{commentData.length}})条</p>

				<div class="xc-comment">
					<div class="xc-comment-list-box">
						<ul class="xc-comment-list">
							<li v-for="cData in commentData">
								<div class="xc-comment-list-hd">
									<img class="xc-comment-avatar" :src="cData.userImg" />
									<div class="xc-comment-name">{{ cData.userName }}</div>
									<div class="xc-comment-time">{{ cData.time }}</div>
								</div>
								<div class="xc-comment-list-bd">
									<p class="xc-comment-content">
										{{ cData.content }}
									</p>
									<div class="xc-comment-imgs">
										<img v-for="cImgs in cData.imgs" :data-original="cImgs" src="../images/bg/goods-bg.jpg" />
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="xc-comment-footer">
						<a :href="'../component/comment.html?id='+queryId">
							查看全部点评
						</a>
					</div>
				</div>

			</div>

			<footer class="xc-footer xc-footer-faxian">
				<div @click="share">
					<i class="iconfont icon-fenxiang1"></i> 分享
				</div>
				<div>
					<img src="../images/icon/icon-pinglun.png" /> 评论
				</div>
			</footer>

		</div>

		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../assets/js/amazeui.lazyload.min.js"></script>
		<script src="../assets/js/swiper-3.4.0.jquery.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		<script type="text/javascript">
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					queryId: $.xuncheng.getUrlParam('id'),
					featureDetail: {},
					commentData: []
				},
				methods: {
					share: function(){
						$.DialogFx.msg('分享功能待开发')
					}
				}
			});
			
			;
			(function() {
				$.getJSON('http://m.xunchengweidao.com/mfd', {fid: vueModel.queryId}, function(data) {
					if(data.resultCode != 10000){
						$.DialogFx.alertError(data.showMessage || '商品数据请求失败')
						return false;
					}
					data.featureDetail.ftpicList = data.featureDetail.ftpic.split(',');
					vueModel.featureDetail = data.featureDetail;
					$('img.lazy').lazyload();
				}).fail(function() {
					$.DialogFx.alertError()
				})
			}());

			$(function() {
				$.getJSON('../js/data/comment.json', function(data) {
					vueModel.commentData = data;
					vueModel.$nextTick(function() {
						$('.xc-comment-imgs > img').lazyload();
					})
				}).fail(function() {
					$.DialogFx.alert('评论服务器内部错误')
				})
			})
		</script>
	</body>

</html>