<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">

		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_tazxp6e5stznnrk9.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />

	</head>

	<body class="xc-bg">
		<div id="xc-app" class="xc-app xc-header-fixed" v-cloak>
			<header class="am-header xc-header">
				<div class="am-header-left am-header-nav">
					<a href="javascript:$.xuncheng.back();">
						<i class="am-header-icon iconfont icon-zuo"></i>
					</a>
				</div>
				<span class="am-header-title">我的地址</span>
			</header>

			<div class="am-g">
				<div class="xc-address xc-address-list xc-bg-l" v-for="(index, address) in addressList">
					<a href="javascript:;" @click="selectAddress(index)">
						<p class="address-title">{{ address.userName }}</p>
						<p class="address-phone">{{ address.telNumber }}</p>
						<p class="address-content">{{ address.detailInfo }}</p>
						<i class="iconfont icon-you icon-lg address-icon-you"></i>
					</a>
					<div class="address-setting">
						<div class="address-default" @click="check(index)">
							<img v-if="address.adefault == 1" src="../images/icon/icon-check-2.png" />
							<img v-else src="../images/icon/icon-check-0.png" />
							<span>设为默认地址</span>
						</div>
						<div class="address-checkbox">
							<a :href="'address-edit.html?addid='+address.addid">
								编辑
							</a>
							<a href="javascript:;" @click="remove(index)">
								删除
							</a>
						</div>
					</div>
				</div>
				<p class="am-padding-sm am-text-center null-data" v-if="!addressList.length">暂无收货地址数据</p>
			</div>

			<footer class="xc-footer xc-footer-cart">
				<a :href="'address-edit.html?uid='+ uid" class="xc-btn">
					新建地址
				</a>
			</footer>

		</div>

		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		<script type="text/javascript">
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					orderId: $.xuncheng.getUrlParam('orderId'),
					uid: $.xuncheng.getUid(),
					addressList: [],
					checkAddressId: false
				},
				watch: {
					checkAddressId: function() {
						console.log(JSON.stringify(vueModel.checkAddress))
							// 修改默认地址
						http: //m.xunchengweidao.com/mad
							$.get('http://m.xunchengweidao.com/mad', {
								addid: vueModel.checkAddressId
							}, function(data) {
								var ar = data.addressDetail;
								ar.adefault = 1;
								
								$.get('http://m.xunchengweidao.com/mae', {
									"addid": ar.addid,
									"userName": ar.userName,
									"postalCode": ar.postalCode,
									"provinceName": ar.provinceName,
									"cityName": ar.cityName,
									"detailInfo": ar.detailInfo,
									"telNumber": ar.telNumber,
									"adefault": ar.adefault,
								}).fail(function(result) {
									$.DialogFx.alert(result.responseJSON.showMessage || '用户数据获取失败');
								})
							}).fail(function(result) {
								$.DialogFx.alert(result.responseJSON.showMessage);
							})
					}
				},
				methods: {
					selectAddress: function(index) { // 选择
						if(vueModel.orderId) {
							$.DialogFx.alert({
								content: '获取收货地址ID==' + vueModel.addressData[index].id,
								end: function() {
									window.location.href = '../component/order.html?orderId=' + vueModel.orderId
								}
							})
						}
					},
					check: function(index) {
						vueModel.addressList.forEach(function(item, i) {
							item.adefault = 0;
							if(index == i) {
								item.adefault = 1;
								vueModel.checkAddressId = item.addid;
							}
						});
					},
					remove: function(index) {
						$.DialogFx.confirm({
							content: '确定删除这个收货地址吗？',
							confirm: function() {
								vueModel.addressList.splice(index, 1)
							}
						});
					}
				}
			});;
			(function() {
				$.get('http://m.xunchengweidao.com/mal', {
					uid: vueModel.uid
				}, function(data) {
					if(data.resultCode != 10000) {
						return false;
					}
					vueModel.addressList = data.addressList;
				}).fail(function(result) {
					$.DialogFx.alertError(result.responseJSON.showMessage || '收货地址列表拉取失败');
				})
			}());
		</script>
	</body>

</html>