<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">
		
		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_tazxp6e5stznnrk9.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
	</head>

	<body class="xc-bg">
		<div id="xc-app" class="xc-app xc-header-fixed" v-cloak>
			<header class="am-header xc-header xc-bb">
				<div class="am-header-left am-header-nav">
					<a href="javascript:$.xuncheng.back();">
						<i class="am-header-icon iconfont icon-zuo"></i>
					</a>
				</div>
				<span class="am-header-title">
					绑定手机
				</span>
			</header>

			<div class="am-g">
				<form id="bangding-phone" onsubmit="return false;" autocomplete="off">
					<div class="xc-list-box update-user-box">
						<ul class="xc-list">
							<li >
								<input id="phone" class="no-cover" pattern="^1[34578]\d{9}$" v-model="umobile" minlength="11" maxlength="11" type="tel" name="umobile" placeholder="输入手机号" />
							</li>
							<li>
								<input required minlength="6" v-model="code" maxlength="6" class="no-cover" type="tel" name="code" placeholder="输入验证码" />
								<button type="button" class="send-code" @click="send" v-if="!sendCode">发送验证码</button>
								<button type="button" class="send-code" disabled v-else>{{sendCode}}s</button>
							</li>
						</ul>
					</div>
					
					<div class="update-footer">
						<button type="submit">提交</button>
					</div>
				</form>
			</div>
		</div>

		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		
		<script type="text/javascript">
			var store = $.AMUI.store;
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					uid: $.xuncheng.getUid(),
					sendCode: 0,
					umobile: '',
					code: ''
				},
				watch: {
					sendCode: function() {
						store.set('xcSendCode', vueModel.sendCode)
						if(vueModel.sendCode){
							window.setTimeout(function(){
								vueModel.sendCode = vueModel.sendCode - 1;
							}, 1000);
						}
					}
				},
				methods: {
					send: function() {
						var $phone = $('#phone');
						if(/^1[34578]\d{9}$/.test($phone.val())){
							$.get('http://m.xunchengweidao.com/mucode', {uid: vueModel.uid, umobile: vueModel.umobile}, function(data) {
								if(data.resultCode != 10000){return false;}
								vueModel.sendCode = 5;
							}).fail(function(result) {
								$.DialogFx.alert(result.responseJSON.showMessage || '短信验证码发送失败')
							})
						}else{
							$.DialogFx.alert({content: '请输入正确的手机号码',end: function(){
								$phone.focus()
							}})
						}
					}
				}
			});
			;(function(){
				$.getJSON('http://m.xunchengweidao.com/muinfo', {uid: vueModel.uid}, function(data) {
					if(data.resultCode != 10000){return false;}
					vueModel.umobile = data.umoblie;
				}).fail(function(result) {
					$.DialogFx.alertError(result.responseJSON.showMessage || '用户数据获取失败', 'login');
				})
			}());
			
			$(function(){
				vueModel.sendCode = store.get('xcSendCode')
				$('#bangding-phone').validator({
					submit: function(e, validity) {
						if(this.isFormValid()) {
							$.get('http://m.xunchengweidao.com/mumobile', {uid: vueModel.uid, umobile: vueModel.umobile, code: vueModel.code}, function(data) {
								if(data.resultCode != 10000){
									$.DialogFx.alert(data.showMessage || '手机号码绑定失败');
									return false;
								}
								$.DialogFx.alert({
									content: data.showMessage,
									end: function(){
										window.location.href = 'info.html?uid=' + vueModel.uid;
									}
								});
								window.setTimeout(function(){
									window.location.href = 'info.html?uid=' + vueModel.uid;
								}, 1500)
							}).fail(function(result) {
								$.DialogFx.alert(result.responseJSON.showMessage || '手机号码绑定失败')
							})
						}
					}
				})
			})
			
		</script>
	</body>

</html>