<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">
		
		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/swiper-3.4.0.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_t6ujvnem02gzm2t9.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		
	</head>
	
	<body class="xc-bg">
		<div id="xc-app" class="xc-app xc-header-fixed" v-cloak>
			<header class="am-header xc-header">
				<div class="am-header-left am-header-nav">
		          	<a href="javascript:$.xuncheng.back();">
		            	<i class="am-header-icon iconfont icon-zuo"></i>
		          	</a>
		      	</div>
				<span class="am-header-title">购物车</span>
				<div class="am-header-right am-header-nav">
		          	<a href="javascript:$.xuncheng.back();">
		            	<i class="am-header-icon iconfont icon-bianji"></i>
		          	</a>
		      	</div>
			</header>
			
			<div class="am-g">
				<ul class="xc-bg-l xc-cart-list">
					<li v-for="(index, cData) in cartData">
						<div class="xc-cart-left" @click="check(index)">
							<img v-if="cData.check" src="../images/icon/icon-check-2.png"/>
							<img v-else src="../images/icon/icon-check-0.png"/>
							<input type="checkbox" class="cart-data-check am-hide"/>
						</div>
						<div class="xc-cart-right">
							<div class="xc-cart-right-info">
								<img :src="cData.img"/>
								<div>
									<p class="title">{{cData.title}}</p>
									<p class="price">
										<span class="xc-price">¥</span>
										<span class="price-txt">{{cData.price}}</span>
									</p>
								</div>
							</div>
							<div class="xc-cart-edit">
								<i class="iconfont icon-jian xc-cart-edit-left" @click="minus(index)"></i>
								<input class="xc-cart-edit-input" type="tel" max="20" min="1" v-model="cData.number" readonly />
								<i class="iconfont icon-plus xc-cart-edit-right" @click="plus(index)"></i>
							</div>
						</div>
					</li>
				</ul>
				
			</div>
			
			<footer class="xc-footer xc-footer-cart">
				<div class="xc-footer-cart-left" @click="checkAll">
					<img v-if="checkAllSelected" src="../images/icon/icon-check-2.png"/>
					<img v-else src="../images/icon/icon-check-0.png"/>
				</div>
				<div class="xc-footer-cart-right">
					<p class="price">
						<span class="title">合计：</span>
						<span class="xc-price">¥</span>
						<span class="price-txt">{{ total }}</span>
					</p>
					<div class="xc-btn" @click="submit">
						下单
					</div>
				</div>
			</footer>
			
		</div>
		
		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		<script type="text/javascript">
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					checkAllSelected: false,
					total: 0,
					cartData: []
				},
				methods: {
					minus: function(index) {
						var number = vueModel.cartData[index].number;
						if(number > 1){
							vueModel.cartData[index].number--;
						}else{
							$.DialogFx.confirm({content: '确定删除这个商品吗？', confirm: function(){
								vueModel.cartData.splice(index, 1)
							}});
						}
						if(vueModel.cartData[index].check){
							vueModel.countTotal()
						}
					},
					plus: function(index) {
						vueModel.cartData[index].number++;
						if(vueModel.cartData[index].check){
							vueModel.countTotal()
						}
					},
					check: function(index) { // 选择商品
						vueModel.cartData[index].check = !vueModel.cartData[index].check
						vueModel.countTotal()
					},
					checkAll: function() { // 选择所有
						vueModel.checkAllSelected = !vueModel.checkAllSelected;
						vueModel.cartData.forEach(function(item){
							item.check = vueModel.checkAllSelected;
						})
						vueModel.countTotal()
					},
					countTotal: function() { // 计算总价
						var total = 0;
						var checkAllOf = true;
						vueModel.cartData.forEach(function(item){
							if(item.check){
								total += parseFloat(item.number * item.price)
							}else{
								checkAllOf = false;
							}
						})
						vueModel.checkAllSelected = checkAllOf;
						total = $.xuncheng.toDecimal2(total)
						vueModel.total = total
					},
					submit: function() { // 提交订单
						if($.xuncheng.isLogin()){
							$.DialogFx.alert({content: '现在可以下单了'})
						}
					}
				}
			});
			
			;
			(function() {
				$.getJSON('../js/data/cartData.json', function(data) {
					
					data.forEach(function(item){
						item.check = false;
						vueModel.cartData.push(item)
					})
					
				}).fail(function() {
					$.DialogFx.alert({content: '服务器内容错误'})
				})
			}());
			
		</script>
	</body>
</html>
