<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">

		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_tazxp6e5stznnrk9.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />

	</head>

	<body class="xc-bg-l">
		<div id="xc-app" class="xc-app xc-header-fixed">
			<header class="am-header xc-header">
				<div class="am-header-left am-header-nav">
					<a href="javascript:$.xuncheng.back();">
						<i class="am-header-icon iconfont icon-zuo"></i>
					</a>
				</div>
				<span class="am-header-title">登录</span>
			</header>

			<div class="am-g xc-login">
				<p class="title">第三方快捷登录</p>
				<div class="xc-third-party ">
					<a href="javascript:qqLogin();">
						<img src="../images/icon/icon-qq.png" />
					</a>
					<a href="javascript:weixinLogin();">
						<img src="../images/icon/icon-wx.png" />
					</a>
					<a href="javascript:weiboLogin();">
						<img src="../images/icon/icon-wb.png" />
					</a>
				</div>
			</div>

		</div>

		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		
		<script type="text/javascript">
			function weixinLogin() {
				window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3c771e957a985911&redirect_uri=http%3a%2f%2fm.xunchengweidao.com%2fweixintest2&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect'
			}
			function qqLogin() {
				$.DialogFx.msg('暂未开通')	
			}
			function weiboLogin() {
				$.DialogFx.msg('暂未开通')	
			}
		</script>
		
		
	</body>

</html>