<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="js cssanimations">

	<head>
		<meta charset="utf-8" />
		<title>寻城</title>
		<meta id="meta-keywords" name="keywords" content="寻城">
		<meta id="meta-description" name="description" content="寻城">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="寻城">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="../assets/images/favicon.png">
		
		<link rel="stylesheet" type="text/css" href="../assets/css/amazeui.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/animate.css" />
		<link rel="stylesheet" type="text/css" href="../assets/css/swiper-3.4.0.min.css" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_njtj5mbb8822csor.css" />
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		
	</head>
	
	<body class="xc-bg">
		<div id="xc-app" class="xc-app xc-header-fixed" v-cloak>
			<header class="am-header xc-header">
				<div class="am-header-left am-header-nav">
		          	<a href="javascript:$.xuncheng.back();">
		            	<i class="am-header-icon iconfont icon-zuo"></i>
		          	</a>
		      	</div>
				<span class="am-header-title">填写订单</span>
			</header>
			
			<div class="am-g">
				<div class="xc-order-box">
					<div class="xc-address xc-bg-l">
						<a :href="'../user/address.html?orderId='+order.id" >	
							<p class="address-title">{{ order.address.name }}</p>
							<p class="address-phone">{{ order.address.phone }}</p>
							<p class="address-content">{{ order.address.prov + ' '+ order.address.city + ' '+ order.address.district + ' '+ order.address.info }}</p>
							<i class="iconfont icon-you icon-lg address-icon-you"></i>
						</a>
					</div>
					
					<div class="xc-order-goods-list">
						<ul class="am-list xc-bg-l">
							<li class="goods-item" v-for="goods in order.goodsData">
								<img :src="goods.img"/>
								<p class="goods-item-title">{{goods.title}}</p>
								<p class="price">
									<span class="xc-price">¥</span>
									<span class="price-txt">{{goods.price}}</span>
								</p>
								<p class="goods-item-size">x {{goods.size}}</p>
							</li>
							<li class="order-item">
								<p class="title">商品合计</p>
								<p class="price">
									<span class="xc-price">¥</span>
									<span class="price-txt">{{order.total}}</span>
								</p>
							</li>
							<li class="order-item order-item-max">
								<a :href="'../user/coupon.html?orderId='+order.id" >
									<p class="title">优惠卷</p>
									<p class="order-item-right price" v-if="order.coupon.id">{{order.coupon.title}}</p>
									<p class="order-item-right" v-else>未使用</p>
									<i class="iconfont icon-you icon-lg"></i>
								</a>
							</li>
							<li class="order-item order-item-max">
								<p class="title">运费</p>
								<p class="order-item-right">
									顺丰快递
									<span class="freight-price">
										<span class="xc-price">¥</span>
										<span class="price-txt">{{order.freight}}</span>
									</span>
								</p>
								<i class="iconfont icon-you icon-lg"></i>
							</li>
						</ul>
						
						<ul class="am-list xc-bg-l">
							<li class="order-item order-item-max">
								<a :href="'invoice.html?orderId='+order.id">
									<p class="title">发票信息</p>
									<p class="order-item-right" v-if="order.invoice.info">{{ order.invoice.info}}</p>
									<p class="order-item-right" v-else>不开发票</p>
									<i class="iconfont icon-you icon-lg"></i>
								</a>
							</li>
						</ul>
						
						<!--<ul class="am-list xc-bg-l">
							<li class="order-item order-item-max">
								<p class="title">支付方式</p>
								<p class="order-item-right">
									微信支付
								</p>
								<i class="iconfont icon-you icon-lg"></i>
							</li>
						</ul>-->
						
					</div>
					
				</div>
			</div>
			
			<footer class="xc-footer xc-footer-cart">
				<div class="xc-footer-cart-right">
					<p class="price am-padding-left-sm">
						<span class="title">实付款：</span>
						<span class="xc-price">¥</span>
						<span class="price-txt">72.00</span>
					</p>
					<button class="xc-btn" @click="submit" >
						下单
					</button>
				</div>
			</footer>
			
		</div>
		
		<script src="../assets/js/vue.min.js"></script>
		<script src="../assets/js/fastclick.min.js"></script>
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/amazeui.min.js"></script>
		<script src="../js/xuncheng.js"></script>
		<script type="text/javascript">
			window.vueModel = new Vue({
				el: "#xc-app",
				data: {
					order: {}
				},
				methods: {
					submit: function() {
						
					}
				}
			});
			
			(function(){
				$.get('../js/data/order.json', function(data) {
					vueModel.order = data;
				})
			}());
			
		</script>
	</body>
</html>
